h1 {
    font-weight: cursive;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 50px;
    font-size: 10px;
    

}
 
p {
    
    padding: 20px;
    position: relative;
    z-index: 999;
    margin: 50px 0 0;
    color: #111010;
    letter-spacing: 2px;
}
 
a {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to left, #68AAFF,#86F1FE);
    display: block;
    padding: 15px 25px;
    border-radius: 500px;
    box-shadow: 0 4px 0 0 #6765f0;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}

a.z1 {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
    display: block;
    padding: 15px 25px;
    border-radius: 500px;
    box-shadow: 0 4px 0 0 #6765f0;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}

a.z2 {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to left, #373738,#000505);
    display: block;
    padding: 15px 25px;
    border-radius: 500px;
    box-shadow: 0 4px 0 0 #6765f0;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}
 
h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #2196F3;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 

 
body {
    background:linear-gradient(#a2d4a7,#7ed3db, #4f6a44,rgb(50, 176, 69)); 
    padding: 30px 30px 300px;
    max-width: 1500px;
    margin:  0px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 0px;
    position: relative;
}
 
img {
    height: 3000px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
    z-index: 999;
}

b.sintyaku {
    color: #c7b515;
    
    }
    
    .typing {
      width: 26ch; 
      /* // 文字数分の長さに設定 */
      animation: typing 3s steps(26), blink .5s step-end infinite alternate;
      white-space: nowrap; 
      /* // 必須 */
      overflow: hidden; 
      /* // 必須 */
      border-right: 3px solid;
       /* // カーソルの大きさを設定する */
      font-size: 2em;

      color: #50ef50;    
    }
    
    @keyframes typing {
      from {
        width: 0 
        /* // 行頭から開始 */
      }
    }
        
    @keyframes blink {
      50% {
        border-color: transparent 
        /* // チカチカする表現部分 */
      }
    }
